<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9abf5c7f-c83e-4dc7-a358-872dd8ad2af9/resourceGroups/githubnag/providers/Microsoft.Web/sites/StockTickerGithubNag</ResourceId>
    <ResourceGroup>githubnag</ResourceGroup>
    <ApiResourceId>/subscriptions/9abf5c7f-c83e-4dc7-a358-872dd8ad2af9/resourceGroups/githubnag/providers/Microsoft.ApiManagement/service/StockTickerapi/apis/StockTickerAPIManagement</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://stocktickergithubnag.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>0e3006c3-328c-4f10-a059-9301b08ebeb4</ProjectGuid>
    <PublishUrl>https://stocktickergithubnag.scm.azurewebsites.net/</PublishUrl>
    <UserName>$StockTickerGithubNag</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>